<div class="container text-white">
    <h1 class="display-4 pt-5 pb-3">Angular interceptor with RxJS</h1>
    <div class="my-3">
        <div class="my-3">
            <button *ngIf="authService.isLogin" class="btn btn-outline-danger mx-2"
                (click)="authService.logout()">Logout</button>
            <button *ngIf="!authService.isLogin" class="btn btn-outline-success mx-2" (click)="onLogin()">Login</button>
            <button type="button" class="btn btn-outline-primary mx-2"
                (click)="queryUserInfoByAuth()">queryUserInfoByAuth</button>
            <button type="button" class="btn btn-outline-info mx-2"
                (click)="queryUserInfoByAuthx10()">queryUserInfoByAuth x 10</button>
        </div>
        <div *ngIf="!authService.isLogin" class="alert alert-danger" role="alert">
            <strong>User is logged out !</strong>
        </div>
        <div class="alert alert-success" role="alert">
            <h5>AccessToken
                <!-- <button type="button" class="btn btn-primary btn-sm">make invalid</button> -->
                <div class="float-right">
                    <button class="badge badge-warning mx-1" (click)="authService.makeAccessInvalid()">make
                        invalid</button>
                    <button class="badge badge-danger mx-1" (click)="authService.removeAccessToken()">clean</button>
                </div>
            </h5>
            <div class="token">{{ authService.accessToken }}</div>
        </div>
        <div class="alert alert-info" role="alert">
            <h5>RefreshToken
                <div class="float-right">
                    <button class="badge badge-warning mx-1" (click)="authService.makeRefreshInvalid()">make
                        invalid</button>
                    <button class="badge badge-danger mx-1" (click)="authService.removeRefreshToken()">clean</button>
                </div>
            </h5>
            <div class="token">{{ authService.refreshToken }}</div>
        </div>
    </div>
    <div #log class="log my-5 px-2">
        <table class="table table-sm table-dark">
            <thead>
                <tr>
                    <th scope="col"><button type="button" class="btn btn-outline-secondary btn-sm p-0 px-1 clear"
                            (click)="responseLogs.length = 0"><i class="bi bi-dash-circle-fill"></i></button></th>
                    <th scope="col">Status</th>
                    <th scope="col">StatusText</th>
                    <th scope="col">Url</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let log of responseLogs">
                    <tr [ngClass]="log.ok ? 'table-success' : 'table-danger'">
                        <th scope="row"><i class="bi" [ngClass]="log.ok ? 'bi-check2' : 'bi-x-lg'"></i></th>
                        <td>{{ log.status }}</td>
                        <td>{{ log.statusText }}</td>
                        <td>{{ log.url }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>